body {
    background-color: rgb(99, 88, 88);
    display: flex;
    justify-content: center;
}
.x {
    font-size: 3em;
    font-weight: bold;
    color: rgb(133, 133, 236);
}

p {
    font-size: 1.5em;
    color: white;
}

strong{
    color: yellow;
}

li {
    color: white;
    font-size: 1.5em;
}

a {
    color: red;
}

a:hover {
    color: blue;
}

.child {
    margin: 0 auto;
}

span, h5, h6 {
    color: white;
}

img {
    max-width: 20em;
}

.image-container {
    margin-bottom: 5em;
}

.director {
    color: yellow;
    list-style-type: none;
}

li.details {
    list-style-type: none;
}
